opencv-python
numpy
natsort
ultralytics==8.4.62
tensorrt
tqdm
onnx
python-dotenv
dvc
dvc[s3]
labelbox
labelbox[data]
ndjson
albumentations
torchmetrics
git+https://github.com/facebookresearch/detectron2.git
-e ../ml_utils --config-settings editable_mode=strict