numpy
Pillow
ultralytics==8.2.74
onnx
tensorrt
dvc
dvc[s3]
python-dotenv
labelbox
labelbox[data]
ndjson
natsort
opencv-python
albumentations
torchmetrics
tqdm
git+https://github.com/facebookresearch/detectron2.git
-e ../ml_utils --config-settings editable_mode=strict