<library path="src">
  <class name="Laser Runner Cutter"
    type="rqt_laser_runner_cutter.rqt_laser_runner_cutter.RqtLaserRunnerCutter"
    base_class_type="rqt_gui_py::Plugin">
    <description>
      GUI for Laser Runner Cutter
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Laser Runner Cutter</label>
      <icon type="theme">applications-engineering</icon>
      <statustip>GUI for Laser Runner Cutter.</statustip>
    </qtgui>
  </class>
</library>