# Build artifacts
realsense2*
install
build
log
installed 

# VS Code ROS 2 specific settings
!.vscode
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
!.vscode/extensions.json

persist.json
